<!DOCTYPE html>
<html>

  <head>
    <title>Test application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="resources/styles/tooltip.css">

    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- <script src="node_modules/v-copy/dist/v-copy.js"></script> -->
    <script src="https://unpkg.com/v-copy@0.1.0/dist/v-copy.js"></script>
    <!-- <script src="node_modules/v-tooltip/dist/v-tooltip.umd.js"></script> -->
    <script src="https://unpkg.com/v-tooltip"></script>

    <style>
        .container-fluid .row span {
            height: 70px; /* image's height */
            display: table-cell;
            vertical-align: middle;
        }
        .colored-children:nth-child(2n) {
            background-color: gray;
        }
        .colored-children:nth-child(2n+1) {
            background-color: lightgray;
        }
        .head {
            background-color: lightcyan;
        }
        .table .button-wrapper {
            height: 70px; /* image's height */
            display: table-cell;
            vertical-align: middle;
        }
        [v-cloak] {
            display: none;
        }
    </style>
      
  </head>

  <body>
        <div class="container-fluid">
            <div id="app" v-cloak>
                    <h1>Пользователи</h1>
                    <p>
                        <span>Всего пользователей: {{countOfUsers}}</span>
                        <button type="button" v-on:click="isDisplay = !isDisplay" v-tooltip.right="buttonTitle">{{buttonTitle}}</button>
                    </p>
                    <!-- table of users -->
                    <div class="col-6">
                      <!-- header -->
                    <div class="row table head">
                        <!-- avatar -->
                            <div class="col-2">
                            </div>
                        <!-- first name -->
                            <div class="col-3">
                                <span>Имя</span>
                            </div>
                        <!-- second name -->
                            <div class="col-3">
                                <span>Фамилия</span>
                            </div>
                        <!-- third name -->
                            <div class="col-3">
                                <span>Отчество</span>
                            </div>
                        <!-- actions -->
                        <div class="col-1">
                        </div>
                      </div>
                        <!-- body -->
                        <div class="body-wrapper" v-if="isDisplay">
                            <div class="row table colored-children" v-for="user in users" :key="user.id">
                                    <!-- avatar -->
                                    <div class="col-2">
                                            <img v-bind:src="userAvatar(user)" height="70">
                                    </div>
                                    <!-- first name -->
                                    <div class="col-3">
                                        <span>{{user.firstName | toUpperCase}}</span>
                                    </div>
                                    <!-- second name -->
                                    <div class="col-3">
                                        <span>{{user.thirdName | toUpperCase}}</span>
                                    </div>
                                    <!-- third name -->
                                    <div class="col-3">
                                        <span>{{user.secondName | toUpperCase}}</span>
                                    </div>
                                    <!-- actions -->
                                    <div class="col-1">
                                        <div class="button-wrapper">
                                            <button type="button" v-copy='user.firstName + " " +user.thirdName'><i class="fa fa-copy"></i></button>
                                        </div>
                                    </div>
                                </div>
                        </div>
            </div>
          
        </div>

  </body>

  <script>
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    isDisplay: true,
                    defaultAvatarLink: 'resources/images/default-avatar.png',
                    users: [
                        { firstName: 'Francesco', secondName: 'Johnovna', thirdName: 'Canfield', avatarLink: 'resources/images/20131107_213317_4797_ALICIA.png', id: 1},
                        { firstName: 'Penni', secondName: 'Johnovich', thirdName: 'Pflum', avatarLink: null, id: 2},
                        { firstName: 'Alaina', secondName: 'Johnovich', thirdName: 'Croslin', avatarLink: 'resources/images/20120419_163008_2477_sdf.png', id: 3},
                        { firstName: 'Laurice', secondName: 'Johnovich', thirdName: 'Askey', avatarLink: 'resources/images/unr_test_161024_0535_9lih90.png', id: 4},
                        { firstName: 'Frankie', secondName: 'Johnovna', thirdName: 'Hoots', avatarLink: null, id: 5}
                    ]
                }
            },
            methods: {
                userAvatar: function (user) {
                    return user.avatarLink ? user.avatarLink : this.defaultAvatarLink;
                }
            },
            computed: {
                countOfUsers: function () {
                    return this.users.length;
                },
                usersInUpperCase: function () {
                    return this.users.filter(function (user) {
                        let tempUser = user;
                        tempUser.firstName = user.firstName.toUpperCase();
                        tempUser.secondName = user.secondName.toUpperCase();
                        tempUser.thirdName = user.thirdName.toUpperCase();
                        return tempUser;
                    })
                },
                buttonTitle: function () {
                    return (this.isDisplay ? 'Скрыть' : 'Показать') + ' список';
                }
            },
            filters: {
                toUpperCase: function (value) {
                    if (!value) return ''
                    return value.toUpperCase()
                }
            },
            directives: {
                // tooltip: {
                //     bind: function (el, binding) {
                //         el.title = binding.value ? 'Скрыть список' : 'Показать список';
                //     },
                //     update: function (el, binding) {
                //         el.title = binding.value ? 'Скрыть список' : 'Показать список';
                //     } 
                // }
            }
        });
    </script>

</html>